<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!-- This page is used to create a new job -->
<body>
<div id="header"><div id="header_img"></div></div>

<div class="center_content">
   <p>Enter the job details:</p>

   <p class="error_text"> {% if error|default:False %}
        There was an error creating the job!!
       {%  endif %}
   </p>
   <form action="org" method="post">
   <table width="80">
      <tr>
      	<td width="15%" class="column_header">Title: </td><td><input type="text" name="name" value="{{ j.title }}" size="100"/></td></tr>
      <tr>
      	<td class="column_header">Time: </td><td><input type="text" name="time" value="{{ j.event_time }}"  size="100"/></td></tr>
      <tr>
      	<td class="column_header">Date: </td><td><input type="text" name="date" value="{{ j.event_date }}" size="100"/></td></tr>  
      <tr>
      	<td class="column_header">Duration (minutes): </td><td><input type="text" name="duration" value="{{ j.event_duration_minutes }}" size="100"/></td></tr>  
      <tr>
      	<td class="column_header">Difficulty: </td><td>
      	<select name="difficulty">
			<option value="1" {% if j.difficulty == 1 %} selected {% endif %}>Easy</option>
			<option value="2" {% if j.difficulty == 2 %} selected {% endif %}>Average</option>
			<option value="3" {% if j.difficulty == 3 %} selected {% endif %}>Difficult</option>
		</select>

      <tr>
      	<td class="column_header">Location: </td><td><input type="text" name="date" value="{{ j.location }}" size="100"/></td></tr>  
      <tr>
      	<td class="column_header">Category: </td><td><input type="text" name="date" value="{{ j.category }}" size="100"/></td></tr>  
      <tr>
      	<td class="column_header">Keywords: </td><td><input type="text" name="date" value="{{ j.keywords|join:',' }}" size="100"/></td></tr>  

      <tr>
      	<td class="column_header">Description: </td><td><textarea rows="5" name="description" cols="87">{{ j.description }}</textarea></td></tr>  
      </table>  
      </br></br>

      <input type="hidden" name="action" value="create_submit_job"/>
      <input type="hidden" name="organization_id" value="{{ organization_id }}"/>
      
      <input type="submit" value="Create job" class="button" />
   </form>

<form action="org" method="post">
<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="hidden" name="action" value="portal" />
<input type="submit" value="Return to previous page" class="button" />
</form>
</div>
</body>
</html>