<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!-- This page is used to create a new job -->
<body>
<div id="header"><div id="header_img"></div></div>

<div class="center_content">
   <p>Enter the job details:</p>

   <p class="error_text"> {% if error|default:False %}
        There was an error creating the job!!
       {%  endif %}
   </p>
   <form action="org" method="post">
   <table width="80%">
      <tr><td>
      {% if missing and "name" in missing %} 
         <div style="color:red">The field "name" is required</div>
      {% endif %} 
      </td><td class="column_header" width="15%">
      Title </td><td><input type="text" name="name" value="{{ name }}" width="50"/></td></tr>
      <tr><td>
      {% if missing and "time" in missing %} 
         <div style="color:red">The field "time" is required</div>
      {% endif %} 
      </td><td class="column_header">
      Time </td><td><input type="text" name="time" value="{{ time }}"  width="50"/></td></tr>
      <tr><td>
      {% if missing and "date" in missing %} 
         <div style="color:red">The field "date" is required</div>
      {% endif %} 
      </td><td class="column_header">
      Date </td><td><input type="text" name="date" value="{{ date }}" width="50"/></td></tr> 
      <tr><td>
      {% if missing and "location" in missing %} 
         <div style="color:red">The field "location" is required</div>
      {% endif %} 
      </td><td class="column_header">
      Location </td><td><input type="text" name="location" value="{{ location }}" width="50"/></td></tr> 
      <tr><td>
      {% if missing and "description" in missing %} 
         <div style="color:red">The field "description" is required</div>
      {% endif %} 
      </td><td class="column_header">
      Description </td><td> <input type="textarea" value="{{ description }}" name="description""/></td></tr> 
      </table>     
      </br></br>

      <input type="hidden" name="action" value="create_submit_job"/>
      <input type="hidden" name="organization_id" value="{{ organization_id }}"/>
      
      <input type="submit" value="Create job" class="button" />
   </form>

<form action="org" method="post">
<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="hidden" name="action" value="portal" />
<input type="submit" value="Return to previous page" class="button" />
</form>
</div>
</body>
</html>