<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!-- Friend management page for a volunteer -->
<body>
<div id="header"><div id="header_img"></div></div>






<div class="center_content">

<h3>Find new friends</h3>
<form action="volunteer" method="post">
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="hidden" name="action" value="search_friends" />
<td width="15%" class="column_header">Search by username </td><td><input type="text" name="search_friend" value="{{ search_friend }}" size="100"/></td></tr>
<input type="submit" value="Go!" class="button" />
</form>

{% if no_results %}
   No results matched your search.
{% endif %}

{% if search_results %}
<form action="volunteer" method="post">
<table>
<tr class="column_header"><td></td><td>Username</td><td>Name</td><td>Location</td></tr>

{% for r in search_results %}
<tr>
    <td><input type="checkbox" name="friend_id" value="{{ r.id }}" /></td>
    <td>{{ r.username }}</td><td>{{ r.name }}</td><td>{{ r.location }}</td>
</tr>
{% endfor %}

</table>
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="hidden" name="action" value="add_friends" />
<input type="submit" value="Add selected friends" class="button" />
</form>
{% endif %}

<h3>Your friends</h3>
{% if friends %}
<form action="volunteer" method="post">
<table>
<tr class="column_header"><td></td><td>Username</td><td>Name</td><td>Location</td></tr>
{% for f in friends %}
<tr>
	<td><input type="checkbox" name="friend_id" value="{{ f.id }}" /></td>
	<td>{{ f.username }}</td><td>{{ f.name }}</td><td>{{ f.location }}</td>
</tr>

{% endfor %}

</table>
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="hidden" name="action" value="delete_friends" />
<input type="submit" value="Delete Selected Friends"  class="button" />
</form>
{% else %}
<i>You have no friends</i>
{% endif %}

<form action="volunteer" method="post">
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="hidden" name="action" value="portal" />
<input type="submit" value="Return to previous page" class="button"  />
</form>
</div>

</body>
</html>