<html>
<head>
<title>volunti - organization</title>

<link rel="stylesheet" type="text/css" href="css/main.css">

<script language="javascript" type="text/javascript">

function buttonClick(theButton){
    document.getElementById('kind').value = theButton.name;
    return true;
}

function buttonClickType(theButton){
    document.getElementById('type').value = theButton.name;
    return true;
}
</script>
</head>
<!--  This is the organization portal view. It will display:
    organization info, number of jobs completed, a summary of pending completions
    currently posted jobs, and upcoming committments -->

<body>
<div id="header"><div id="header_img"></div></div>
<div class="container">
<div class="banner">
<table><tr class="column_header" ><td width="20%" style="padding-top:8px;padding-bottom:8px;">
Welcome, <b>{{ name }}</b><br><br>
<form action="org" method="post" >
<input type="hidden" name="action" value="edit_organization" />
<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="submit" value="Edit your profile" class="button" />
</form></br>
<a href="{{ logout }}"> Logout </a>
</td><td width="80%">&nbsp;</td></tr></table>
</div>
<div class="center_content">
<h3>Jobs to review</h3>
{% if current_commitments %}
<table>
<tr class="column_header"><td></td><td>Volunteer Name</td><td>Job ID</td><td>Job Title</td><td>Date</td><td>Location</td></tr>
<form action="org" method="post">
{% for j in current_commitments %}
<tr>
<td><input type="checkbox" name="completed" value="{{ j.id }},{{ j.volunteer_id }}" /></td>
<td>{{ j.name }}</td><td>{{ j.id }}</td><td>{{ j.title }}</td><td>{{ j.event_date }}, {{ j.event_time }}</td><td>{{ j.location }}</td>
</tr>

{% endfor %}
</table>
<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="hidden" name="action" value="complete_volunteers" />
<input type="submit" value="Mark the selected commitments as complete" class="button" />
</form>
{% else %} 
<i>You have no volunteers awaiting completion</i>
{% endif %}

<h3>Currently posted jobs</h3>
{% if current_jobs %}
<form action="org" method="post">
<table>
<tr class="column_header"><td></td><td>Job ID</td><td>Name</td><td>Description</td><td>Date</td></tr>	
{% for j in current_jobs %}
<tr>
<td><input type="checkbox" class="selected_jobs" name="selected_jobs" value="{{ j.id }}" /></td>
<td>{{ j.id }}</td><td>{{ j.title }}</td><td>{{ j.description }}</td><td>{{ j.event_date }}, {{ j.event_time }}</td>
</tr>
{% endfor %}
</table>

<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="hidden" name="action" value="modify_job" />
<input type="hidden" name="kind" id="kind" value="" />

<input type="submit" name="delete" value="Delete selected jobs" onclick="return buttonClick(this)" class="button" />
<input type="submit" name="edit" value="Edit selected jobs" onclick="return buttonClick(this)"  class="button" />
</form>
{% else %}
<i>You have no currently posted jobs</i>
{% endif %}
<form action="org" method="post" >
<input type="hidden" name="action" value="new_job" />
<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="submit" value="Create new job" class="button" />
</form>
<h3>Upcoming commitments</h3>

{% if upcoming_commitments %}
<form action="org" method="post">
<table>
<tr class="column_header"><td></td><td>Volunteer Name</td><td>Job ID</td><td>Job Title</td><td>Date</td><td>Location</td></tr>		

{% for j in upcoming_commitments %}
<tr>
<td><input type="checkbox" name="volunteer" value="{{ j.volunteer_id }},{{ j.id }}" /></td>
<td>{{ j.name }}</td><td>{{ j.id }}</td><td>{{ j.title }}</td><td>{{ j.event_date }}, {{ j.event_time }}</td><td>{{ j.location }}</td>
</tr>

{% endfor %}
</table>

<input type="hidden" name="organization_id" value="{{ organization_id }}" />
<input type="hidden" name="action" value="edit_volunteer" />
<input type="hidden" name="type" id="type" value="" />
<input type="submit" name="checkin" value="Check in selected volunteers" onclick="return buttonClickType(this)" class="button" />
<input type="submit" name="delete" value="Cancel selected volunteers" onclick="return buttonClickType(this)" class="button" />

</form>
{% else %}
<i>You have no upcoming commitments</i>
{% endif %}

<h3>Completed jobs</h3>
{% if completed_jobs %}
<table>	
<tr class="column_header"><td>Job ID</td><td>Job Title</td><td>Volunteer Name</td><td>Date</td><td>Location</td></tr>		

{% for j in completed_jobs %}
<tr>
<td>{{ j.id }}</td><td>{{ j.title }}</td><td>{{ j.name }}</td><td>{{ j.event_date }}, {{ j.event_time }}</td><td>{{ j.location }}</td>
</tr>
{% endfor %}
</table>
{% else %} 
<i>You have no completed jobs</i>
{% endif %} 
</div>
</div>
</body>
</html>