<html>
   <head><title>Social Volunteering</title></head>
   <body>
   <p>Enter your personal information:</p>
   <p style="color:green"><i>TODO: CHECK DATA FOR CORRECTNESS AND DUPLICATES AND PASSWORD MATCH</i></p>
   <p style="color:green"><i>TODO: AUTOGENERATE IDS FOR VOLUNTEERS</i></p>
   <p style="color:green"><i>TODO: VERIFY USERNAME IS UNIQUE</i></p>
   
   
   <p style="color:red"> {% if error|default:False %}
        There was an error creating your account!!
       {%  endif %}
   </p>
   <form action="org" method="post">
   <table>
      <tr><td>
      {% if missing and "name" in missing %} 
         <div style="color:red">The field "name" is required</div>
      {% endif %} 
      </td><td>
      Name: </td><td><input type="text" name="name" value="{{ name }}" width="50"/></td></tr>
      <tr><td>
      {% if missing and "phone" in missing %} 
         <div style="color:red">The field "phone" is required</div>
      {% endif %} 
      </td><td>
      Phone: </td><td><input type="text" name="phone" value="{{ phone }}"  width="50"/></td></tr>
      <tr><td>
      {% if missing and "location" in missing %} 
         <div style="color:red">The field "location" is required</div>
      {% endif %} 
      </td><td>
      Location: </td><td><input type="text" name="location" value="{{ location }}" width="50"/></td></tr> 
      <tr><td>
      {% if missing and "username" in missing %} 
         <div style="color:red">The field "username" is required</div>
      {% endif %} 
      </td><td>
      Username: </td><td><input type="text" name="username" value="{{ username }}" width="50"/></td></tr> 
      </table>     
      </br></br>
      <table>
      <tr><td>Password: </td><td><input type="password" name="password1"/></td></tr>
      <tr><td>Password again: </td><td><input type="password" name="password2"/></td></tr>
      </table></br></br>
      <input type="hidden" name="action" value="new_volunteer"/>
      <input type="submit" value="Submit"/>
   </form>
   </body>
</html>