<html>
   <head><title>Social Volunteering - New Organization</title>
   <link rel="stylesheet" type="text/css" href="css/main.css">
   </head>
   <!--  This is the signup page for a new organization -->
   <body>
   <div id="header"><div id="header_img"></div></div>
   
   <p>Enter your organization information:</p>
   <p style="color:green"><i>TODO: CHECK DATA FOR CORRECTNESS AND DUPLICATES AND PASSWORD MATCH</i></p>
   <p style="color:green"><i>TODO: AUTOGENERATE IDS FOR ORGANIZATIONS</i></p>
   
   <p style="color:red"> {% if error|default:False %}
        There was an error creating your account!!
       {%  endif %}
   </p>
   <form action="auth" method="post">
   <table>
      <tr><td>
      {% if missing and "name" in missing %} 
         <div style="color:red">The field "name" is required</div>
      {% endif %} 
      </td><td>
      Organization Name: </td><td><input type="text" name="name" value="{{ name }}" size="100"/></td></tr>
      <tr><td>
      {% if missing and "phone" in missing %} 
         <div style="color:red">The field "phone" is required</div>
      {% endif %} 
      </td><td>
      Phone: </td><td><input type="text" name="phone" value="{{ phone }}"  size="100"/></td></tr>
      <tr><td>
      {% if missing and "location" in missing %} 
         <div style="color:red">The field "location" is required</div>
      {% endif %} 
      </td><td>
      Location: </td><td><input type="text" name="location" value="{{ location }}" size="100"/></td></tr> 
      <tr><td>
      {% if missing and "description" in missing %} 
         <div style="color:red">The field "description" is required</div>
      {% endif %} 
      </td><td>
      Description of mission: </td><td> <input type="textarea" value="{{ description }}" name="description" cols="100"/></td></tr> 
      </table>     
      </br></br>
      <table>
      <tr><td>Password: </td><td><input type="password" name="password1"/></td></tr>
      <tr><td>Password again: </td><td><input type="password" name="password2"/></td></tr>
      </table></br></br>
      <input type="hidden" name="action" value="new_organization"/>
      <input type="submit" value="Submit" class="button" />
   </form>
   
   
   </body>
</html>