<html>
<head><title>Social Volunteering - Volunteers</title></head>
<!-- This is the volunteer portal page. It will display:
    volunteer info, score, friend feed, upcoming commitments, 
    friend leaderboard, global leaderboard -->
<body>
<h1>THIS IS A LOGO</h1>
Welcome, {{ name }} Score = {{ score }}</br>
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_volunteer" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Edit your profile" />
</form>

<div name="friends">
<h3>Your friends:</h3>
<table>
<tr><td>Username</td><td>Name</td></tr>
{% for f in friends %}
   <tr>
      <td> {{ f.username  }} </td><td> {{ f.name }} </td>
   </tr>
{% endfor %}
</table>
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_friends" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Edit your friends" />
</form>
</div>

<div name="fleader">
<h3>Friend leaderboard:</h3>
<table>
<tr><td>Username</td><td>Name</td><td>Score</td></tr>
{% for f in friend_scores %}
   <tr>
      <td> {{ f.username }} </td><td> {{ f.name }} </td><td> {{ f.score }} </td>
   </tr>
{% endfor %}
</table>
</div>

<div name="gleader">
<h3>Global leaderboard:</h3>
<table>
<tr><td>Username</td><td>Name</td><td>Score</td></tr>
{% for f in global_scores %}
   <tr>
      <td> {{ f.username }} </td><td> {{ f.name }} </td><td> {{ f.score }} </td>
   </tr>
{% endfor %}
</table>
</div>

<div name="upcoming">
<h3>View your upcoming jobs:</h3>	
<table>
<tr><td>Job ID</td><td>Title</td><td>Date</td></tr>
{% for f in future_jobs %}
   <tr>
      <td> {{ f.job_id }} </td><td> {{ f.title }} </td><td> {{ f.date }} </td>
   </tr>
{% endfor %}
</table>
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_jobs" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Manage your jobs" />
</form>
</div>

<div name="feed">
<h3>Friend Activity:</h3>
<table>
<tr><td>Username</td><td>Title</td><td>Job ID</td></tr>
{% for u in friend_activity %}
   <tr>
      <td> {{ u.username }} </td><td> {{ u.title }} </td><td> {{ u.job_id }} </td>
   </tr>
{% endfor %}
</table>
</div>


</body>
</html>