<head><title>Social Volunteering - Volunteers</title>
<script language="javascript" type="text/javascript">

function buttonClick(theButton){
    document.getElementById('kind').value = theButton.name;
    return true;
}
</script>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!-- This is the volunteer portal page. It will display:
    volunteer info, score, friend feed, upcoming commitments, 
    friend leaderboard, global leaderboard -->
<body>
<div id="header"><div id="header_img"></div></div>

<table width="100%">
<tr class="column_header"><td width="20%" valign="top">Welcome, <b>{{ name }}</b>
</br></br>
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_volunteer" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Edit your profile" class="button"  />
</form>

</td><td></td><td align="right" valign="top">Score = {{ score }}</td></tr>
<tr><td></td><td>
<form action="browse" method="post">
<input type="text" name="keyword" />
<input type="hidden" name="action" value="search" />
<input type="hidden" name="kind" value="" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" name="keyword" value="Search by keyword" class="button" /> 
<input type="submit" name="category" value="Browse by category" class="button" /> 
</form>
   </td><td></td></tr>
<tr><td valign="top">


<div name="friends">
<h3>Your friends</h3>
{% if friends %}
<table>
<tr class="column_header"><td>Username&nbsp;</td><td>Name</td></tr>
{% for f in friends %}
   <tr>
      <td> {{ f.username  }} </td><td> {{ f.name }} </td>
   </tr>
{% endfor %}
</table>
{% else %} 
 <i>You have no friends</i>
{% endif %}
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_friends" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Edit your friends" class="button"  />
</form>
</div>

<div name="upcoming">
<h3>Upcoming jobs</h3>	
{% if future_jobs %} 
<table>
<tr class="column_header"><td>Job ID</td><td>Title</td><td>Date</td></tr>
{% for f in future_jobs %}
   <tr>
      <td> {{ f.job_id }} </td><td> {{ f.title }} </td><td> {{ f.event_date }} </td>
   </tr>
{% endfor %}
</table>
<form action="volunteer" method="post" >
<input type="hidden" name="action" value="edit_jobs" />
<input type="hidden" name="volunteer_id" value="{{ volunteer_id }}" />
<input type="submit" value="Manage your jobs" class="button"  />
</form>
{% else %} 
<i>You have no upcoming jobs</i>
{% endif %}
</div>

</td><td width="60%" valign="top">

<!--  MOAR THINGS HERE -->

<div name="feed">
<h3>Friend Activity</h3>
{% if friend_activity %}
<table width="100%">
<tr class="column_header"><td colspan="2">Friend Activity</td></tr>
{% for u in friend_activity %}
   <tr><td> <b>{{ u.username }}</b> just 
{% if u.checkedin == 0 %} signed up for {% else %} {% if u.completed == 0 %} started {% else %} completed {% endif %} {% endif %}
   
    the job <b>{{ u.title }}</b>! </td><td></td></tr>
   <tr><td></td><td><i>{{ u.modified }}</i> </td></tr>
{% endfor %}
</table>
{% else %}
<i>You have no friends</i>
{% endif %}
</div>

</td><td width="20%" valign="top">
<div name="fleader">
<h3>Friend leaderboard</h3>
{% if friend_scores %} 
<table>
<tr class="column_header"><td>Username</td><td>Name</td><td>Score</td></tr>
{% for f in friend_scores %}
   <tr>
      <td> {{ f.username }} </td><td> {{ f.name }} </td><td> {{ f.score }} </td>
   </tr>
{% endfor %}
</table>
{% else %} 
<i>You have no friends</i>
{% endif %}
</div>

<div name="gleader">
<h3>Global leaderboard</h3>
<table>
<tr class="column_header"><td>Username&nbsp;</td><td>Score</td></tr>
{% for f in global_scores %}
   <tr>
      <td> {{ f.username }} </td><td> {{ f.Total_Score }} </td>
   </tr>
{% endfor %}
</table>
</div>
</td></tr></table>


</body>
